<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp3.Properties.Settings.bazaConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\baza.mdb"
            providerName="System.Data.OleDb" />
        <add name="WindowsFormsApp3.Properties.Settings.bazaConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\АМС\source\repos\WindowsFormsApp3\baza.mdb"
            providerName="System.Data.OleDb" />
        <add name="WindowsFormsApp3.Properties.Settings.BondarevConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\АМС\Desktop\fbc\c-\Tupamiha\Bondarev.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>